$lgray: #f9f9f9;
$lblue: #0083E5;
$lyellow: #FFF000;
$lgreen: #009940;
$lpink: #E30883;

body {
    color:#666;
    height:100%;

    padding-top:60px;
    position:relative;
}
h1 { text-align:center; }
.hider { display:none; }
.block { display:block; }
section.row { margin: 3em auto; }
#about, #whitepaper, #team, #faq, #contact {
  padding-top:80px; padding-bottom:80px;
}

.page-nav { margin-bottom:0px; }
.jumbotron {
  text-align:center;
  h1.logo {
    text-indent:-9999px; width:447px; height:176px; margin-left:auto; margin-right:auto;
    background:url(../img/logo-vertical.png)
  }
}
.lead {
  font-size:21px; margin-bottom: 20px; max-width:80%; margin-left:auto; margin-right:auto;
  font-weight: 300; line-height: 1.4; text-align:center;
}

#hero {
  padding-top:2em; min-height:580px; background-color:white; text-align:center;
  .jumbotron {
    border:none; position:relative;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .btn-container { margin-top:2em; }
}
#about {
  .feature-item { text-align: center; padding:19px; }
  .feature-icon { font-size:120px; }
  background-color:#2d2d2d;
  h1 { color:white; }
}

#whitepaper {
  background-color: $lpink; color: white;
  .whitepaper {
    .whitepaper-item { text-align: center; }
  }
}

#team {
  background-color: #333; color: white;
  img.portrait {
    width: 100%; max-width: 200px;
  }
}

#faq {
  background-color: $lgreen;
  h1, p.lead { color:white; }
  .panel-title a { text-decoration:none; }
}

#contact {
  background-color:white;
  h1, h4 { text-align: center; }
  .contact-detail i { margin-right: 10px; }
}

#snapshot {
  background: $lyellow;
}

.footer {
  padding:4em 1em 6em 1em; text-align:center; color: white;
//  background-color: $lgray;
  &.navbar { margin-bottom: 0; }
  a { color:white; }
}

/* Image style */
#scrollTopBtn {
  bottom: 20px;
  right: 20px;
}

/* ----- Progress bar ----- */

.progress {
//  height: 52px;
  height:102px;
  margin: 30px 0 0 0;
  background: transparent url(../img/slider-bg22.jpg) left bottom repeat-x;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: none;
  position:relative;

  .tip { color:#eee; padding-top:5px; font-size:12px; }

  .ready-point, .start-point, .end-point {
    background:url(../img/slide-endpoint.png) no-repeat; border:0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none; color:white;
    text-shadow: none;
    width: 47px; height: 52px;
    position:absolute;
    .marker {
      width: 47px;
      height: 52px;
      padding: 15px 0 0 0;
      font-size: 12px;
      text-align: center; color:black;
      text-shadow: 0 1px 0 rgba(0,0,0,.3);
    }
    .hint {
      color: white; text-align:center;
    }
  }

  .bar {
    background:
    url(../img/slider-bg1.jpg) right bottom no-repeat,
    url(../img/slider-bg.jpg) left bottom repeat-x;
    border: 0; z-index:33;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: none; color:white;
    text-shadow: none;
    height: 52px;

    .marker {
      float: right;
      width: 47px;
      height: 52px;
      padding: 15px 0 0 0;
      background: transparent url(../img/slider-bg3.png) center top no-repeat;
      font-size: 14px;
      text-align: center;
      text-shadow: 0 1px 0 rgba(0,0,0,.3);
    }
  }
}
